In [1]:
import pandas as pd

In [2]:
boston = pd.read_csv("ast2018full.csv", dtype = {15:str,60:str,63:str})

In [3]:
boston.head()

,PID,CM_ID,GIS_ID,ST_NUM,ST_NAME,ST_NAME_SUF,UNIT_NUM,ZIPCODE,PTYPE,LU,...,U_BTH_STYLE2,U_BTH_STYLE3,U_KITCH_TYPE,U_KITCH_STYLE,U_HEAT_TYP,U_AC,U_FPLACE,U_INT_FIN,U_INT_CND,U_VIEW
0,100001000,NaN,100001000.0,104 A 104,PUTNAM,ST,NaN,2128.0,105,R3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100002000,NaN,100002000.0,197,LEXINGTON,ST,NaN,2128.0,105,R3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100003000,NaN,100003000.0,199,LEXINGTON,ST,NaN,2128.0,105,R3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100004000,NaN,100004000.0,201,LEXINGTON,ST,NaN,2128.0,105,R3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100005000,NaN,100005000.0,203,LEXINGTON,ST,NaN,2128.0,104,R2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Boston LU is the Type of Property, it could be commercial, agricultural or condominiums
#We subset the data to focus on residential

boston.LU = boston.LU.astype("category") 
boston.R_BLDG_STYL = boston.R_BLDG_STYL.astype("category")
residential_category = ["A","CD","R1","R2","R3","R4","RL"]
residential_bool = [True if x in residential_category else False for x in boston.LU]
residential = boston[residential_bool]

residential.dropna(subset = ["R_BLDG_STYL"], inplace = True)

residential.drop(labels = ['MAIL_ADDRESSEE', 'MAIL_ADDRESS', 'MAIL CS', 'MAIL_ZIPCODE'],axis = 1, inplace = True)

residential.drop(labels = ['PID', 'CM_ID', 'GIS_ID'],axis = 1, inplace = True)

residential.drop(labels = ['OWNER','S_BLDG_STYL', 'S_UNIT_RES', 'S_UNIT_COM',
       'S_UNIT_RC', 'S_EXT_FIN', 'S_EXT_CND'],axis = 1, inplace = True)

In [16]:
residential.columns

Index(['ST_NUM', 'ST_NAME', 'ST_NAME_SUF', 'UNIT_NUM', 'ZIPCODE', 'PTYPE',
       'LU', 'OWN_OCC', 'AV_LAND', 'AV_BLDG', 'AV_TOTAL', 'GROSS_TAX',
       'LAND_SF', 'YR_BUILT', 'YR_REMOD', 'GROSS_AREA', 'LIVING_AREA',
       'NUM_FLOORS', 'STRUCTURE_CLASS', 'R_BLDG_STYL', 'R_ROOF_TYP',
       'R_EXT_FIN', 'R_TOTAL_RMS', 'R_BDRMS', 'R_FULL_BTH', 'R_HALF_BTH',
       'R_BTH_STYLE', 'R_BTH_STYLE2', 'R_BTH_STYLE3', 'R_KITCH',
       'R_KITCH_STYLE', 'R_KITCH_STYLE2', 'R_KITCH_STYLE3', 'R_HEAT_TYP',
       'R_AC', 'R_FPLACE', 'R_EXT_CND', 'R_OVRALL_CND', 'R_INT_CND',
       'R_INT_FIN', 'R_VIEW', 'S_NUM_BLDG', 'U_BASE_FLOOR', 'U_NUM_PARK',
       'U_CORNER', 'U_ORIENT', 'U_TOT_RMS', 'U_BDRMS', 'U_FULL_BTH',
       'U_HALF_BTH', 'U_BTH_STYLE', 'U_BTH_STYLE2', 'U_BTH_STYLE3',
       'U_KITCH_TYPE', 'U_KITCH_STYLE', 'U_HEAT_TYP', 'U_AC', 'U_FPLACE',
       'U_INT_FIN', 'U_INT_CND', 'U_VIEW'],
      dtype='object')

In [17]:
residential.shape

(62083, 61)

In [18]:
residential = residential.dropna(axis = 1, how = "all") #removing columns with only NA's

In [19]:
residential = residential.dropna(axis = 0, how = "all") #removing rows with only NA's, there's none

In [20]:
residential.shape

(62083, 40)

In [ ]:
residential.head()

In [ ]:
#residential.ST_NUM.value_counts(dropna = False)

In [ ]:
residential.to_csv("residential_boston.csv")

In [ ]:
residential = pd.read_csv("residential_boston.csv", dtype = {0:str})

In [ ]:
residential.shape

In [ ]:
residential["ST_ADDRESS"] = residential['ST_NUM'] + " " + residential['ST_NAME'] + " " + residential['ST_NAME_SUF']

In [ ]:
residential.columns

In [ ]:
residential = residential.drop_duplicates("ST_ADDRESS")

In [ ]:
residential.shape

In [ ]:
len(residential.MAIL_ADDRESS.unique()) #62083 #rows

In [ ]:
62083 - 57435

In [ ]:
10000/62083

In [ ]:
df_sample = residential.sample(n = 5000)

In [ ]:
df_sample.head()

In [ ]:
df_sample.reset_index(inplace = True, drop = True)

In [ ]:
df_sample.to_csv("boston_sample.csv")

In [ ]:
df_sample.columns

In [ ]:
pd.get_dummies(residential['R_BLDG_STYL'])

In [ ]:
residential.corr()

In [ ]:
corr_all = residential.apply(lambda x : pd.factorize(x)[0]).corr(method='pearson', min_periods=1)

In [ ]:
corr_all

In [ ]:
corr_all["GROSS_TAX"]

In [ ]:
def correlation_matrix(df):
    from matplotlib import pyplot as plt
    from matplotlib import cm as cm

    fig = plt.figure()
    ax1 = fig.add_subplot(111)
    cmap = cm.get_cmap('jet', 30)
    cax = ax1.imshow(df.corr(), interpolation="nearest", cmap=cmap)
    ax1.grid(True)
    plt.title('Abalone Feature Correlation')
    labels=['Sex','Length','Diam','Height','Whole','Shucked','Viscera','Shell','Rings',]
    ax1.set_xticklabels(labels,fontsize=6)
    ax1.set_yticklabels(labels,fontsize=6)
    # Add colorbar, make sure to specify tick locations to match desired ticklabels
    fig.colorbar(cax, ticks=[.75,.8,.85,.90,.95,1])
    plt.show()

In [ ]:
correlation_matrix(residential)

In [ ]:
df_sample.shape

In [ ]:
df_sample.columns

In [ ]:
df_sample.MAIL_ADDRESS.value_counts(dropna = False)

In [ ]:
5000 - len(df_sample.MAIL_ADDRESS.unique()) # #rows

In [ ]:
zillow = read_csv("../Zillow/2018-05-07_210318.csv")

In [ ]:
zillow.sale_type = zillow.sale_type.apply(lambda x: x[7:])

In [ ]:
zillow.shape

In [ ]:
residential.ST_ADDRESS = residential.ST_ADDRESS.apply(lambda x: str(x).lower())

In [ ]:
zillow.address = zillow.address.apply(lambda x: str(x).lower())

In [ ]:
zillow.shape

In [ ]:
res_sub = residential[residential.ST_ADDRESS.isin(zillow.address)]

In [ ]:
zillow_sub = zillow[zillow.address.isin(res_sub.ST_ADDRESS)]

In [ ]:
zillow_sub = zillow_sub.drop_duplicates("address")

In [ ]:
zillow_sub.reset_index(drop = True, inplace = True)

In [ ]:
res_sub.reset_index(drop = True, inplace = True)

In [ ]:
list(zillow_sub) == list(res_sub)